<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add Device -- SIPB HWOPS</title>
    <meta charset="UTF-8">
    <style>
    td { padding: 5px; }
    .header td { border: 2px solid black; }
    .gone { border: 0; }
    </style>
</head>
<body>
    <h2>SIPB HWOPS -- Add Device</h2>

    <p>Contact sipb-hwops [at] mit [dot] edu with questions and corrections.</p>

    {% if not user %}
        <p><a href="{{ authlink }}">Sign in to create this entry</a></p>
    {% elif not can_update %}
        <p>You do not have access to create new devices. Please contact sipb-hwops [at] mit [dot] edu with your requested changes.</p>
    {% else %}
        <p>Signed in as {{ user }}.</p>

        <p>Navigation: <a href="racks.py">Back</a></p>

        <form action="perform.py?action=add&rack={{ rack.name }}" method="POST">
        <table border="1">
        <tr><td>Name</td><td><input type="text" name="devicename"></td></tr>
        <tr><td>Rack</td><td>{{ rack.name }}</td></tr>
        <tr><td>Slots</td><td><input type="number" name="first" value="{{ slot }}" min="1" max="{{ rack.height }}"> - <input type="number" name="last" value="{{ slot }}" min="1" max="{{ rack.height }}"></td></tr>
        <tr><td>IP</td><td><input type="text" name="ip"></td></tr>
        <tr><td>Contact</td><td><input type="text" name="contact" value="{{ email }}"></td></tr>
        <tr><td>Owner</td><td><input type="text" name="owner" value="{{ email }}"></td></tr>
        <tr><td>Service Level</td><td><input type="text" name="service"> (TODO: dropdown)</td></tr>
        <tr><td>Model</td><td><input type="text" name="model"></td></tr>
        <tr><td>Notes</td><td><textarea rows="25" cols="80" name="notes"></textarea></td></tr>
        <tr><td>Create</td><td><input type="submit" value="Create"></td></tr>
        </table>
        </form>
    {% endif %}
</body>
</html>
