<!DOCTYPE html>
<html lang="en">
<head>
    <title>SIPB HWOPS</title>
    <meta charset="UTF-8">
    <style>
    td { padding: 5px; }
    .header td { border: 2px solid black; }
    .gone { border: 0; }
    </style>
</head>
<body>
    <h2>SIPB HWOPS</h2>

    <p>Welcome to the website of <a href="https://sipb.mit.edu">SIPB</a>'s Hardware Operations (HWOPS) project!</p>

    <p>Overview:
    <ul><li>We are responsible for the operation and maintenance of the SIPB machine room in W20-575A, as well as for some aspects of SIPB's servers in W91.</li>
        <li>In addition, we are responsible for planning out the future of SIPB's physical server spaces.</li>
        <li>We provide physical server space, server hardware, and server support services to other SIPB projects.</li>
        <li>If your project is not an official SIPB project, we will be able to refer you to other resources, but we will not be able to provide you with server space unless your project becomes recognized as an official SIPB project.</li>
        <li>Some of our operational databases are publicly accessible on this website, for the sake of transparency.</li>
        <li>As with all SIPB services, HWOPS is a volunteer-run service, and although we strive for perfect uptime of the server room, we will not always be able to provide it.</li>
    </ul></p>

    <p>Hardware Operations Lead: Cel Skeggs (<a href="mailto:cela@mit.edu">cela@mit.edu</a>)</p>

    <p>Contact information:
    <ul><li>Primary contact point: <a href="mailto:sipb-hwops@mit.edu">sipb-hwops@mit.edu</a>.</li>
        <li>Emergency phone contact: see bottom of page.</li>
        <li>Chat contact: see the Machine Rooms channel in SIPB Mattermost. Tag the primary support contact listed in the header.</li>
        <li>Phone contact: call 617-253-7788 to reach the SIPB office, which might or might not have anyone available who can help.</li>
        <li>Security/confidental contact: <a href="mailto:sipb-hwops-root@mit.edu">sipb-hwops-root@mit.edu</a>.</li>
        <li>Team members mailing list: <a href="mailto:sipb-hwops-team@mit.edu">sipb-hwops-team@mit.edu</a>.</li>
        <li>To obtain a replacement for a lost or stolen access card: email <a href="mailto:physec@mit.edu">physec@mit.edu</a>.</li>
        <li>To try to talk to someone in person: show up at the SIPB meeting on Monday at 7:30 PM.</li>
    </ul></p>

    <p>As of 2019-02-18, the responsibility of managing the SIPB Machine Room has been transferred from the SIPB Vice Chair to the SIPB Hardware Operations project.</p>

    <p>Server room emergency contact:<br>{% if user %}{% if on_office %}<b>{{ emergency }}</b><br>You can only see this information because you are on sipb-office@mit.edu.{% else %}Although you are logged in, you cannot view this information, because you are not on the mailing list sipb-office@mit.edu.{% endif %}{% else %}[Information hidden; <a href="{{ authlink }}">login with certificates</a> to view.]{% endif %}<br>Do not share this contact information with anyone outside of SIPB.</p>

    <p>Navigation: <a href="racks.py">Server Inventory</a> | <a href="parts.py">Parts Inventory</a> | <a href="manuals">Documents and Manuals</a></p>

    <p>The source code for this website is available on <a href="https://github.com/sipb/hwops/">GitHub</a>.</p>
</body>
</html>
