<!DOCTYPE html>
<html lang="en">
<head>
    <title>Part View -- SIPB HWOPS</title>
    <meta charset="UTF-8">
    <style>
    td { padding: 5px; }
    .header td { border: 2px solid black; }
    .gone { border: 0; }
    input[type=text] { width: 800px; }
    </style>
</head>
<body>
    <h2>SIPB HWOPS -- Part View</h2>

    <p>Contact sipb-hwops [at] mit [dot] edu with questions and corrections.</p>

    <p>{% if user %}Signed in as {{ user }}. <a href="{{ authlink }}">Sign out?</a>{% else %}<a href="{{ authlink }}">Sign in to edit</a>{% endif %}</p>

    {% if user and not can_update %}<p>No edit permission.</p>{% endif %}

    <p>Navigation: <a href="parts.py">Back</a></p>

    <table border="1">
    <tr><td>SKU</td><td>{{ part.sku }}</td></tr>
    <tr><td>Description</td><td>{{ part.description }}</td></tr>
    <tr><td>Comments</td><td>{{ part.comments }}</td></tr>
    <tr><td>Stock</td><td>{{ stock }}</td></tr>
    <tr><td>Last Updated</td><td>{{ part.last_updated }} by {{ part.last_updated_by }}</td></tr>
    </table>

	<p>Stock-keeping history:</p>

    {% if can_update %}<form action="perform.py?action=update-stock&sku={{ part.sku }}" method="POST">{% endif %}
    <table border="1">
    <tr><td>TXID</td><td>New Stock</td><td>Comment</td><td>Submitted</td></tr>
    {% if can_update %}<tr><td>--</td><td><input type="number" name="count" value="{{ stock }}" min="0"></td><td><input type="text" name="comment"></td><td><input type="submit" value="Submit"></td></tr>{% endif %}
    {% for update, delta in inventory %}
    <tr{% if loop.first %} class="header"{% endif %}>
        <td>{{ update.txid }}</td>
        <td>{{ update.new_count }} ({% if delta >= 0 %}+{% endif %}{{ delta }})</td>
        <td>{{ update.comment }}</td>
        <td>{{ update.submitted }} by {{ update.submitted_by }}</td>
    </tr>
    {% endfor %}
    <tr><td>--</td><td>0</td><td>initial state</td><td>--</td></tr>
    </table>
    {% if can_update %}</form>{% endif %}
</body>
</html>
